<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
    <th:block th:replace="~{header::library}"></th:block>
</head>
<body>
<div th:replace="~{header :: navbar}"></div>
<div class="container mt-5">
    <h2>Create New Player</h2>
    <form th:action="@{/player/create}" th:object="${player}" method="post">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" th:field="*{fullName}" required>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" th:field="*{dob}" required>
        </div>
        <div class="form-group">
            <label for="experience">Experience</label>
            <input type="text" class="form-control" id="experience" th:field="*{experience}" required>
        </div>
        <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="position" th:field="*{position}" required>
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" id="image" th:field="*{image}">
        </div>
        <label for="team">Đội tuyển:</label>
        <small th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="err"></small>
        <div class="form-group">
        <select id="team"  th:field="*{team}">
            <option value="">>---Chọn đội tuyển---<</option>
            <option th:each="team : ${teams}"
                    th:value="${team.id}"
                    th:text="${team.name}"></option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>