<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail Blog</title>
</head>
<body>
<h1>Detail Blog</h1>
<p><strong>Title:</strong> <span th:text="${blog.title}"></span></p>
<p><strong>Content:</strong> <span th:text="${blog.content}"></span></p>
<p><strong>Author:</strong> <span th:text="${blog.author}"></span></p>

<a th:href="@{/blogs/{id}/edit(id=${blog.id})}">Edit</a> |
<a th:href="@{/blogs/{id}/delete(id=${blog.id})}" onclick="return confirm('Are you sure you want to delete this blog?')">Delete</a> |
<a href="/blogs">Back to Blog List</a>
</body>
</html>
