<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog List</title>
</head>
<body>
<h1>Blog List</h1>

<div>
    <h3>Categories</h3>
    <ul>
        <li><a th:href="@{/blogs}">All</a></li>
        <li th:each="category : ${categories}">

            <a th:href="@{/blogs/{id}/category(id=${category.id})}" th:text="${category.name}"></a>
        </li>
    </ul>
</div>

<form th:action="@{/blogs/search}" method="get">
    <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by title">
    <button type="submit">Search</button>
</form>

<a href="/blogs/create">Create New Blog</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Content</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.category.name}"></td>
        <td>
            <a th:href="@{/blogs/{id}(id=${blog.id})}">Detail</a> |
            <a th:href="@{/blogs/{id}/edit(id=${blog.id})}">Edit</a> |
            <a th:href="@{/blogs/{id}/delete(id=${blog.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>