<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Danh mục mới</title>
</head>
<body>
<h1>Thêm Danh mục mới</h1>
<form th:action="@{/category/create}" th:object="${category}" method="post">
    <div>
        <label for="name">Tên Danh mục:</label>
        <input type="text" id="name" th:field="*{name}" required>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <button type="submit">Lưu</button>
</form>
<a th:href="@{/category}">Quay lại danh sách</a>
</body>
</html>